@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "roboto";
}
body{
    background-size: cover;
    background-image: url("aeroplane.jfif");
    background-position: center;
}
 
section.hero{
    margin-top: 6rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    

}
section.hero .input{
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    align-content: center;
    padding: 2rem;
    border-radius: 1rem;
}
input{
    width: 150px;
    height: 40px;
    text-decoration: none;
    border: none;
    border-radius: 2rem;
    margin: 30px;
}
h2{
    text-align: center;
    text-decoration: none;
}
section.hero .welcome h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2rem;
    align-items: flex-start;
    
}
section.hero .welcome span{
    color: hotpink;
}
section.hero .input{
    margin-bottom: 2rem;
    margin-left:2rem;
    justify-content: center; 
}
section.hero label{
    margin-left: 2rem;
}
button.primary{
    margin-left: 2rem;
    position: relative;
}
