*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-size: cover;
}
section.hero{
    background-color:lavender;
    margin-top: 6rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}
h2{
    text-align: center;
    text-decoration: none;
}
section.hero .welcome h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2rem;
    align-items: flex-start;
    
}
section.hero .welcome span{
    color: hotpink;
}
section.hero .input{
    margin-bottom: 2rem;
    margin-left:2rem;
    justify-content: center; 
}
section.hero label{
    margin-left: 2rem;
}
button.primary{
    margin-left: 2rem;
    position: relative;
}
